@font-face {
  font-family: 'Geologica'; 
  src: url("../src/fonts/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf")
}

:root {
  width: 100%;
  font-family: 'Geologica', sans-serif;;
  font-weight: 400;
  background-color: rgba(37, 37, 37, 0.927);
}




